{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h3>Check out my new Flask skills.</h3>
        <a href="{{ url_for('campaigns') }}" class="btn-primary">See campaigns list</a> 
      </div>
      
      <div class="clearfix"></div>

    </div>
    <div class="container">
      <div class="section-content">
          <a href="{{ url_for('create_tables') }}" class="btn-secondary">Create tables</a>
          <a href="{{ url_for('load') }}" class="btn-secondary">Load data</a>
      </div> 
    </div>
  </main>
{% endblock %}